<div class="f-info">
<div class="f-info-socials">
    <a href="#" class="card-link" ><i class="fa-brands fa-facebook-f"></i></a>
    <a href="#" class="card-link" ><i class="fa-brands fa-instagram"></i></a>
    <a href="#" class="card-link" ><i class="fa-brands fa-linkedin"></i></a>
    <!-- <a href="#" class="card-link" ></a> -->
</div>
<div class="">&copy; WanderLust Private Ltd</div>
<div class="f-info-links">
    <a href="/privacy">Privacy</a>
    <a href="/terms">Terms</a>
</div>
</div>