<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listing">Explore</a>
        </div>
        <div class="navbar-nav ms-auto">
          <form action="/listing/search" method="post" class="d-flex" role="search">
            <input class="form-control me-2 input-search" name="search" type="search" placeholder="Search  destinations" aria-label="Search">
            <button class="btn btn-search" type="submit">
              <i class="fa-solid fa-magnifying-glass" style="margin-right: 1rem;"></i>Search
            </button>
          </form>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listing/new">AirBnb your home</a>
          <%if(loggedUser)
          {
            %><a class="nav-link" href="/user/logout">Log Out</a><%
          }
            else{
              %>
              <a class="nav-link " aria-current="page" href="/user/signup"><b>SignUp</b></a>
              <a class="nav-link" href="/user/login"><b>Log In</b></a>
              <%
            }
          %>
   
        </div>
      </div>
    </div>
  </nav>